.checkOut {
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}

.proceedToPayment {
    margin-top: 10px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #052038;
    border: none;
    font: 500 1.1rem "Times New Roman", sans-serif;
    color: #f5f5f5;
    border-radius: 10px;
}

.proceedToPayment:hover {
    background-color: #123052;
}

.CheckOutForm {
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.out-checkbox {
    margin-bottom: 10px;
}

.out-checkbox-input {
    margin-right: 10px;
}

.inputBoxReserve {
    margin-bottom: 2px;
}

.checkOutCardNum,
.checkOutEntryField {
    width: 90%;
    height: 160px;
    min-width: 250px;
    max-width: 550px;
    min-height: 25px;
    max-height: 300px;
    background: transparent;
    outline: none;
    border: 2px solid #052038;
    border-bottom-color: #03111e;
    border-right-color: #051523;
    border-left-color: #051523;
    border-radius: 10px;
    font: 18px/1.5 'Times New Roman', sans-serif;
    color: #000000;
    padding: 8px;
    margin-bottom: 20px;
}

.checkOutCardNum {
    margin-top: 10px;
    width: 100px;
    height: 10px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
