.container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
}

.mapContainer {
    flex-grow: 1;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 15%;
    left: 20px;
    width: 400px;
    max-height: 70%;
    background-color: rgba(225, 221, 221, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.searchForm {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.searchInputWrapper {
    flex-grow: 1;
    position: relative;
}

.searchInput {
    width: 80%;
    padding: 5px;
    background-color: #f5f5f5;
    border: 2px solid #d3d3d3;
    color: #333;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    margin-right: 2%;
    height: 30px;
}
.searchInput::placeholder {
    text-align: left;
    /*color: #a9a9a9; */
}

.searchButton:hover {
    background-color: #357ab8;
    cursor: pointer;
}
.branchList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.branchItem {
    background-color: #ffffff;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    margin: 6px 0;
    padding: 12px;
    color: #333;
}

.branchItem:hover {
    background-color: #f5f5f5;
    border-color: #c0c0c0;
    cursor: pointer;
}
.branchListContainer {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
}
.searchButton {
    margin-left: auto;
    border: none;
    cursor: pointer;
    background-color: #052038; /* Makes background transparent */
    color: inherit; /* Inherits text color from parent */
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: none;
    height: 40px;
}

.branchIconLink {
    display: inline-flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    padding: 0; /* Removes padding */
    background-color: transparent; /* Ensures background is transparent */
    border: none; /* Removes any border */
}

/* Adjusts the layout of the branch name and address */
.branchListContainer > div:last-child {
    flex-grow: 1; /* Allows the branch text to take up remaining space */
    padding-left: 10px; /* Adds some space between the icon and the text */
}
.fa-info, .fa-magnifying-glass {
    color: #f5f5f5;
}