.myProfile {
    background-color: #BBDCF2;
    padding: 100px 20px;
    height: 100rem;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.yourReservationContainer {
    width: auto;
    height: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.66);
    background-color: rgba(225, 221, 221, 0.25);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.leftContent,
.rightContent {
    padding: 10px;
    background-color: transparent;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 31px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 40px;
}

.deleteReservationBtn {
    width: 180px;
    height: 50px;
    background: #A30021;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.16s ease-in-out;
}

.deleteReservationBtn:hover {
    background: #8a031d;
    transition: all 0.12s ease-in-out;
    border-radius: 5px 20px 5px 20px;
}

.deleteReservationBtnContainer {
    display: flex;
    height: 100px;
    width: 50%;
    align-items: center;
    justify-content: end;
}

.price {
    margin-bottom: auto;
}

.carInfoTxt {
    font-size: 25px;
    font-weight: 1000;
}

.yourReservationCarImg {
    display: block;
    max-width: 20%;
    max-height: 90%;
    width: auto;
    height: auto;
    position: relative;
    float: left;
    border-radius: 8px;
    margin: 5px 10px 5px 5px;
    flex: 0 0 auto;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}