.rentalAgreement {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rentalForm {
    display: flex;
    flex-direction: column;
}

.rentalForm h1, .rentalForm h2 {
    color: #333;
}

.rentalForm label {
    margin-top: 10px;
    color: #666;
}

.rentalForm input, .rentalForm textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.rentalForm button {
    padding: 10px 15px;
    color: white;
    background-color: #052038;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.rentalForm button:hover {
    background-color: #A30021;
}
