
.adminMainContainer {
    display: flex;
    height: 100rem;
    background-color: #00ffea;

}

.warningMsgAdmin {

    padding-top: 100px;
    padding-left: 25px;

}

.adminLeftContainer, adminRightContainer {
    flex: 1;
    height: 100%;

}

.adminLeftContainer {
    background-color: #0c0e11;
    width: 50%;
}


.adminRightContainer {

    background-color: #454343;
    width: 50%;

}


.adminPageBackgroundImgLeft {
    margin-top: -160px;
    width: 100%;
    height: auto;
    object-fit: fill;
    transition: transform 0.8s ease;
    /*overflow: hidden;*/


}

.adminPageBackgroundImgLeft:hover {
    transform: scale(1.1) translateX(-4.5%);
    transition: transform 0.5s ease;
}


.adminPageBackgroundImgRight {
    object-fit: fill;
    margin-top: -160px;
    width: 100%;
    height: auto;
    transition: transform 0.8s ease;


}

.adminPageBackgroundImgRight:hover {
    transform: scale(1.1) translateX(4.5%);
    transition: transform 0.5s ease;
}


.imageTextDivLeft {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;

    text-shadow: 1px 1px 5px #000000, -1px -1px 5px #000000, -1px 1px 5px #000000, 1px -1px 5px #000000, 0 0 10px #A30021, 0 0 20px #052038;

}


.imageTextDivRight {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;

    text-shadow: 1px 1px 5px #000000, -1px -1px 5px #000000, -1px 1px 5px #000000, 1px -1px 5px #000000, 0 0 10px #A30021, 0 0 20px #052038;


}

.sorryContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sorryMsg {
    font-size: 40px;
    color: #052038;
    margin-bottom: 5px;

}

.sorryText {
    margin-top: 1px;
    margin-bottom: 100px;
    font-size: 20px;
    color: #052038;
}

.sorryBtn {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #052038;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #f5f5f5;
    font-family: "Times New Roman", sans-serif;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}

.sorryBtn:hover {
    background-color: #A30021;
}

.sorryImg {
    margin-top: 50px;
    width: 80%;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}