.usersContainer {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: start;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    background-color: #BBDCF2;
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*z-index: 1;*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*max-height: calc(100vh - 100px);*/
    /*overflow-y: auto;*/
    /*margin-top: 50px;*/
    padding: 100px 20px;
    /*justify-items: left;*/
    /*gap: 25px;*/
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/

    height: 100rem;


}

.usersInfoContainers{
    width: auto;
    height: 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.66);
    background-color: rgba(225, 221, 221, 0.25);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;

    align-items: flex-start;
    /*max-width: 400px; !* Adjust as needed *!*/
    /*margin: 0 auto;*/

    /*align-items: center; !* Center vertically *!*/
    /*justify-content: end; !* Center horizontally *!*/

}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 31px;
    padding: 10px; /* Add padding for content */
    background-color: transparent; /* Optional background color for top content */


}


.buttonsContainerUsers{
    display: flex;
    /*display: inline-block;*/
    height: 60px;
    width: 50%;
    /*background-color: red;*/

    align-items: center; /* Center vertically */
    justify-content: end; /* Center horizontally */
    /*justify-self: end;*/
}


.viewUserBtn{
    width: 150px;
    height: 40px;
    background: #052039;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    float: right;
    margin-left: 20px;

}

.viewUserBtn:hover{
    background: #03172a;

}

.deleteUserBtn{
    width: 150px;
    height: 40px;
    background: #A30021;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    float: right;
    margin-left: 20px;
    margin-right: 20px;

}

.deleteUserBtn:hover{
    background: #8a031d;
    /*margin-left: 20px;*/

}

.leftContentUsers,
.rightContentUsers {
    /*flex: 1; !* Make top and bottom content fill remaining space *!*/
    /*padding: 10px; !* Add padding for content *!*/
    background-color: transparent; /* Optional background color for top content */
    height: 60px;
    padding-left: 20px;
}

.leftContentUsers {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    width: 25%;
    gap: 31px;
    align-items: center; /* Center vertically */
    justify-content: left; /* Center horizontally */


}

.rightContentUsers {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    width: 25%;
    gap: 40px;

    align-items: center; /* Center vertically */
    justify-content: left; /* Center horizontally */

}
