.adminVehicle {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: start;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    background-color: #BBDCF2;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*z-index: 1;*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*max-height: calc(100vh - 100px);*/
    /*overflow-y: auto;*/
    /*margin-top: 50px;*/
    padding: 100px 20px;
    /*justify-items: left;*/
    /*gap: 25px;*/
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/


}

.adminVehicleContainer{
    width: auto;
    height: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.66);
    background-color: rgba(225, 221, 221, 0.25);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;

    align-items: flex-start;
    /*max-width: 400px; !* Adjust as needed *!*/
    /*margin: 0 auto;*/

}

.adminTopContent,
.adminBottomContent {
    /*flex: 1; !* Make top and bottom content fill remaining space *!*/
    padding: 10px; /* Add padding for content */
    background-color: transparent; /* Optional background color for top content */
}

.adminTopContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 31px;

}

.adminBottomContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 40px;
}

.buttonsContainerVehicles{
    display: flex;
    /*display: inline-block;*/
    height: 60px;
    width: 50%;
    /*background-color: red;*/

    align-items: center; /* Center vertically */
    justify-content: end; /* Center horizontally */
    /*justify-self: end;*/
}


.editVehicleBtn{
    width: 150px;
    height: 40px;
    background: #052039;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    float: right;
    margin-left: 20px;

}

.editVehicleBtn:hover{
    background: #03172a;

}

.deleteVehicleBtn{
    width: 150px;
    height: 40px;
    background: #A30021;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    float: right;
    margin-left: 20px;
    margin-right: 20px;

}

.deleteVehicleBtn:hover{
    background: #8f021f;
    /*margin-left: 20px;*/

}



.adminVehiclePrice{
    margin-bottom: auto;

}


.adminCarName{
    font-size: 25px;
    font-weight: 1000;
}

.adminVehicleInfo{
    color: #525151;
    padding-bottom: 5px;

}


.adminVehicleImg{
    display: block;
    max-width:20%;
    max-height:90%;
    width: 10%;
    height: 90%;
    position: relative;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    float: left;
    border-radius: 8px;
    margin: 5px;

    flex: 0 0 auto;
    margin-right: 10px;

}
