.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.ReservationAdmin{
    background-color: #BBDCF2;
    padding: 100px 20px;
    height: 100rem;


}

.yourReservationContainerAdmin{
    width: auto;
    height: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.66);
    background-color: rgba(225, 221, 221, 0.25);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.leftContentAdmin,
.rightContentAdmin {
    padding: 10px;
    background-color: transparent;
}

.leftContentAdmin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 31px;
}

.rightContentAdmin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    gap: 40px;
}

.deleteReservationBtnAdmin{
    width: 180px;
    height: 50px;
    background: #A30021;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 15px;
    color: #f5f5f5;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    float: right;

}

.deleteReservationBtnAdmin:hover{
    background: #8f021f;

}



.priceAdmin{
    margin-bottom: auto;

}

.startDateTxtAdmin{

}

.endDateTxtAdmin{

}

.carInfoTxtAdmin{
    font-size: 25px;
    font-weight: 1000;
}


.yourReservationCarImg{
    display: block;
    max-width:20%;
    max-height:90%;
    width: auto;
    height: auto;
    position: relative;
    float: left;
    border-radius: 8px;
    margin: 5px;
    flex: 0 0 auto;
    margin-right: 10px;
}


